@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/global";
.modal {
    &.show {
        display: block;
    }

    background: rgba($color-black, .5);
    color: $color-primary-dark;
    display: none;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    &_body {
        background: $color-white;
        border-radius: .6rem;
        margin: 10% auto;
        max-width: 90rem;
        padding: 5rem;
        position: relative;
        text-align: center;
        width: 95%;
    }

    h4 {
        font-size: 2.6rem;
        font-weight: 500;
        margin-bottom: 3rem;
    }

    &_close {
        background: $color-white url("../../../../assets/images/cancel.svg") no-repeat center;
        border: none;
        cursor: pointer;
        height: 3.5rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        width: 3.5rem;
    }

    &_cancel {
        background: none;
        border: none;
        color: $color-grey-2;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 400;
        margin-right: 2.4rem;
    }
}

#create_message_form {
    text-align: right;

    textarea {
        font-size: 1.6rem;
        height: 18.5rem;
        margin-bottom: 3rem;

        &::placeholder {
            color: $color-primary-darker;
        }
    }
}

#delete_message_modal,
#delete_comment_modal {
    .modal_body {
        max-width: 54rem;
        
        p {
            font-weight: 400;
        }

        form {
            align-items: center;
            display: flex;
            gap: 2rem;
            justify-content: center;
            margin-top: 3rem;

            > * {
                flex: 1;
            }
        }
    }
}