@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.message {
    @include outline_container;

    @media screen and (max-width: $bp-small) {
        text-align: center !important;
    }
    
    &:not(:last-of-type){
        margin-bottom: 2rem;
    }

    &_actions {
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        gap: 1.5rem;
        margin-top: 2rem;

        @media screen and (max-width: $bp-small) {
            justify-content: center;
        }
    }

    &_form {
        @include outline_container;
        margin: 2rem 0;

        button[type="submit"]{
            display: block;
            margin-left: auto;
            margin-top: 1rem;
        }
    }
}