@import "../../../../assets/scss/variables";

.message {
    border: 1px solid $color-primary-border;
    border-radius: .6rem;
    padding: 2.5rem;

    @media screen and (max-width: $bp-small) {
        text-align: center !important;
    }
    
    &:not(:last-of-type){
        margin-bottom: 2rem;
    }

    &_actions {
        display: flex;
        flex-wrap: wrap;
        font-weight: 400;
        gap: 1.5rem;
        margin-top: 2rem;

        @media screen and (max-width: $bp-small) {
            justify-content: center;
        }
    }
}