@import "../../../../../assets/scss/variables";

button {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-weight: 400;

    img {
        margin-right: .5rem;
    }

    &.active {
        p {
            color: $color-primary;
        }
    }

    p {
        color: $color-grey-2;
        span {
            font-weight: 500;
        }
    }
}
