@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";
@import "../../../../assets/scss/global";


.update_form {
    text-align: right;

    textarea {
        margin-bottom: 2rem;
    }

    .cancel_edit {
        background: none;
        border: none;
        color: $color-grey-2;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 400;
        margin-right: 3rem;
    }
}